---
import type { Profile } from "../../types";
import Button from "./Button.astro";

interface Props {
  profile: Profile;
}

const { profile: profileData } = Astro.props;
---

<section
  id="about"
  class="flex flex-col gap-div-gap w-[100vw] mx-auto py-section-gap bg-dark/5"
>
  <div
    class="flex flex-row items-start gap-item-gap w-[90vw] max-w-[1000px] mx-auto max-[800px]:flex-col max-[800px]:items-start"
  >
    <div
      class="aspect-square w-[320px] max-w-[45%] bg-center bg-cover flex-none max-[800px]:w-full max-[800px]:max-w-none"
      style={`background-image: url('${profileData.avatar}');`}
    >
    </div>
    <div class="flex flex-col items-start gap-item-gap flex-1">
      <div class="flex flex-col items-start gap-thin-gap max-[800px]:flex-col">
        <div>
          <h2>About me</h2>
          <p class="mt-2">
            <b>{profileData.name}</b>, {profileData.role}
          </p>
        </div>
        <p class="opacity-50 leading-7">{profileData.bio}</p>
      </div>
      <div
        class="flex flex-row items-center gap-thin-gap max-[800px]:items-center max-[800px]:flex-wrap"
      >
        <Button
          href={profileData.contactUrl || "#"}
          variant="primary"
          attrs={{ "data-contact-open": "true" }}
        >
          Get in touch
        </Button>
      </div>
    </div>
  </div>
</section>
