---
import MobileMenu from "../react/MobileMenu";
import Button from "./Button.astro";
---

<header
  class="bg-shade-light backdrop-blur-[1rem] py-[calc(var(--thin-gap)/2)] sticky top-0 z-[2]"
>
  <div
    class="flex items-center justify-between w-[90vw] max-w-[1400px] mx-auto max-[800px]:w-full max-[800px]:px-4"
  >
    <a href="/">
      <img
        id="logo"
        src="/img/main_logo.svg"
        alt="Yuki Shimizu"
        class="block"
      />
    </a>
    <MobileMenu client:idle>
      <ul
        class="m-0 max-[800px]:fixed max-[800px]:w-screen max-[800px]:m-0 max-[800px]:pt-20 max-[800px]:top-0 max-[800px]:left-0 max-[800px]:right-0 max-[800px]:flex-col max-[800px]:h-0 max-[800px]:transition-all max-[800px]:duration-[400ms] max-[800px]:z-[9999] max-[800px]:invisible max-[800px]:overflow-y-hidden max-[800px]:bg-white group-[.active]:max-[800px]:flex group-[.active]:max-[800px]:h-[100dvh] group-[.active]:max-[800px]:visible"
      >
        <li
          class="flex flex-row items-center gap-[calc(var(--thin-gap)/2)] max-[800px]:flex-col max-[800px]:items-start max-[800px]:gap-thin-gap max-[800px]:pt-0 max-[800px]:pb-thin-gap"
        >
          <Button href="/#work" variant="transparent" isMobileMenu={true}
            >Work</Button
          >
          <Button href="/#about" variant="transparent" isMobileMenu={true}
            >About</Button
          >
          <Button
            as="button"
            variant="primary"
            isMobileMenu={true}
            attrs={{ "data-contact-open": "true" }}
          >
            Get in touch</Button
          >
        </li>
      </ul>
    </MobileMenu>
  </div>
</header>
