---
import Button from "./Button.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section class="flex flex-col gap-section-gap py-section-gap">
  <div class="mx-auto w-[90vw] max-w-[1400px] sm:w-[80vw]">
    <div
      class="flex items-center gap-item-gap max-[800px]:flex-col max-[800px]:items-start"
    >
      <div class="flex flex-col items-start gap-thin-gap">
        <h1>{title}</h1>
        <p class="opacity-50">{description}</p>
      </div>
      <div class="flex-1 max-[800px]:hidden"></div>
    </div>
  </div>
</section>
